* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; /* tirando o estilo da lista, PONTINHO */
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%; /* altura da linha */
}

body {
    background-image: url(/src/imagens/background.jpg);
    background-position: top center;   /* imagem fica no top e centralizado */
    background-size: 100% auto; /* 100% na horizontal e o restante superior e inferior seja automatica */
    background-repeat: no-repeat; /* ṕara não ficar repetindo o background */
    background-color: #121214; /* cor conforme o projeto figma */
}

main {
    max-width: 689px; /* medida no figma */ 
    width: 90%;
    margin: auto;
    /* 
    display: grid;
    gap: 24px;
    */
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: #fff;    
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    font-size: 26px;
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex; /* display tem haver com as visualizacao das caixas */
    flex-wrap: wrap; /* se houver muitos cards essa propriedade joga para baixo, chegando no limite */
    gap: 16px;
    margin-top: 24px;
}

.lista-games img {
    border-radius: 8px;
    width: 90%;
}

.lista-canal img {
    width: 70px;
    border-radius: 50%;
    border: #A1A1AA solid 2px;
}

header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

header {
    background-color: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}