* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; /* tirando o estilo da lista, PONTINHO */
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%; /* altura da linha */
}

header img {
    border-radius: 50%;
    width: 100%;
}

header {
    padding-top: 32px;
    height: calc(150px + 32px);
}

header div img  {
    width: 150px;
    margin: auto;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

body {
    background-image: url(/src/imagens/background.jpg);
    background-position: top center;   /* imagem fica no top e centralizado */
    background-size: 100% auto; /* 100% na horizontal e o restante superior e inferior seja automatica */
    background-repeat: no-repeat; /* ṕara não ficar repetindo o background */
    background-color: #121214; /* cor conforme o projeto figma */
}

main {
    max-width: 689px; /* medida no figma */ 
    width: 90%;
    margin: 32px auto;
    /* 
    display: grid;
    gap: 24px;
    */
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: #fff;    
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    font-size: 26px;
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex; /* display tem haver com as visualizacao das caixas */
    flex-wrap: wrap; /* se houver muitos cards essa propriedade joga para baixo, chegando no limite */
    gap: 16px;
    margin-top: 24px;
}

/* transicionando meus jogos, canais e streamers e redes*/
section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.lista-games img {
    border-radius: 8px;
    width: 90%;
}

.lista-canal img {
    width: 70px;
    border-radius: 50%;
    border: #443354 2px;
}

/* animação */ 

header div img {
    animation: fromTop 7s .2s backwards; /* espera um 1s para comecar as animacoes */

}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    } /* de */

    to {
        opacity: 1;
        transform: translateY(0);
    } /* para */ 
}

main section {
    animation: fromBottom 1s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}